@model Lageros.Models.Izdavanje

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Izdavanje</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Korisnik)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Korisnik.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Laptop)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Laptop.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Monitor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Monitor.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Periferija)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Periferija.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatumZamjene)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatumZamjene)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-danger">Uredi</a> |
    <a asp-action="Index" class="btn btn-dark">Nazad na listu izdavanja</a>
</div>
